# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/

#Gradle
.gradle
local.properties
build

#Other
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

